<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img class="img-fluid" src="../../../assets/Imagenes/yus1.jpg" id="perfilfoto">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, neque quidem possimus quis cupiditate consectetur, cum vero in, soluta voluptates ducimus esse doloremque eius tempore at tenetur aperiam assumenda excepturi.               
            </p>
        </span>
    </div> 
</div>